.areaPeopleCount {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;

  .title {
    color: rgb(156, 162, 173);
    font-size: 56px;
    font-weight: 600;
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    .leftBox {
      width: 350px;

      .box {
        height: 230px;
      }
    }

    .mid {
      flex: auto;
    }

    .rightBox {
      width: 350px;

      .box {
        height: 230px;
      }
    }
  }
}